*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

body{
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;

}
header{
    font-family: 'Roboto', sans-serif;
}

.header__top{
    background-color: #303030;
}

.header__btn {
    float: right;
    line-height: 36px;
    color: #1b1b1b;
    background-color: #ffc222;
    padding: 5px 20px 4px 50px;
    font-size: 16px;
    position: relative;
}

.header__btn:before{
    content: "\f0b1";
    font-family: 'icomoon';
    position: absolute;
    color: black;
    left: 22px;
}
.header__contacts:after{
    content: "";
    clear: both;
    
    display: block;
}

.header__phone,
.header__email{
color: #cbcacb;
letter-spacing: 0.25px;
line-height: 45px;
position: relative;
}

.header__phone{
    padding-left: 20px;
    padding-right:30px ;
}

.header__phone:before{
    content: "\f095";
    font-family: 'icomoon';
    position: absolute;
    color: #ffc222;
    left: 0;


}
.header__email{
    padding-left: 24px;
}

.header__email:before{
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    color: #ffc222;
    left: 0;

}

.header__content{
    padding: 34px 0px 23px;
}

.header__content-inner{
    display: flex;
    justify-content: space-between;
}
.menu li{
    display: inline-block;
}

.menu a{
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border:1px solid transparent;
    padding: 0px 16px;
    transition: all .3s;
}

.menu a:hover{
    border-color: #ffc222 ;
}

.menu li + li{
    padding-left: 10px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .popup {
    margin: 75px auto;
    padding: 20px;
    margin-top: 400px;
    background: #fff;
    border: 1px solid #666;
    width: 300px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    position: relative;
  }
  .popup h2 {
    margin-top: 0;
    color: #666;
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
  }
  .popup .close:hover {
    opacity: 1;
  }
  .popup .content {
    max-height: 400px;
    overflow: auto;
  }
  .popup p {
    margin: 0 0 1em;
  }
  .popup p:last-child {
    margin: 0;
  }






